.vscode
*.DS_Store
*.a
*.bak
*.core
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lo
*.log
*.mo
*.o
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.dirstamp
.libs
.patch_number
.vscode/*
/ChangeLog
/INSTALL
/README
/TAGS
/TODO
/_build
/aclocal.m4
/autom4te.cache/*
/build
/config.status
/configure
/coverage
/coverage.info
/data/ini/ginga.ini
/libtool
Makefile
Makefile.in
