*.DS_Store
*.a
*.bak
*.core
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lo
*.log
*.mo
*.o
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.vscode/*
.dirstamp
.libs
.patch_number
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache/*
/build
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/libtool.m4
/build-aux/ltmain.sh
/build-aux/ltoptions.m4
/build-aux/ltsugar.m4
/build-aux/ltversion.m4
/build-aux/lt~obsolete.m4
/build-aux/missing
/build-aux/test-driver
/config.status
/configure
/coverage
/coverage.info
/data/Makefile
/data/Makefile.in
/data/ini/ginga.ini
/doc/Doxyfile
/doc/html
/lib/Makefile
/lib/Makefile.in
/lib/config.h
/lib/config.h.in
/lib/stamp-h1
/libtool
/src-gui/Makefile
/src-gui/Makefile.in
/src-gui/gingagui
/src/Makefile
/src/Makefile.in
/src/ginga
/tests/Makefile
/tests/Makefile.in
/tests/env.csh
/tests/env.sh
/tests/gdb.cfg
/tests/suppfile
/tests/test-ginga-create
/tests/test-ginga-getOptionBool
/tests/test-ginga-getOptionInt
/tests/test-ginga-getOptionString
/tests/test-ginga-getOptions
/tests/test-ginga-parse-bool
/tests/test-ginga-parse-color
/tests/test-ginga-parse-list
/tests/test-ginga-parse-percent
/tests/test-ginga-parse-time
/tests/test-ginga-setOptionBool
/tests/test-ginga-setOptionInt
/tests/test-ginga-setOptionString
/tests/test-ginga-version
/tests/test-xpathbasename
/tests/test-xpathbuild
/tests/test-xpathbuildabs
/tests/test-xpathdirname
/tests/test-xpathisabs
/tests/test-xpathisuri
/tests/test-xpathmakeabs
/tests/test-xstrassign
/tests/test-xstrbuild
/tests/test-xstrcasecmp
/tests/test-xstrcaseeq
/tests/test-xstrdown
/tests/test-xstrhasprefix
/tests/test-xstrhassuffix
/tests/test-xstrispercent
/tests/test-xstrsplit
/tests/test-xstrstrip
/tests/test-xstrtod
/tests/test-xstrtodorpercent
/tests/test-xstrtoll
/tests/test-xstrup
/tests/xfail-test-ginga-getOptionBool
/tests/xfail-test-ginga-getOptionInt
/tests/xfail-test-ginga-getOptionString
/tests/xfail-test-ginga-setOptionBool
/tests/xfail-test-ginga-setOptionInt
/tests/xfail-test-ginga-setOptionString
/tests/xfail-test-xstrtod
