.vscode
*.DS_Store
*.a
*.bak
*.core
*.exe
*.gcda
*.gcno
*.gmo
*.header
*.la
*.lo
*.log
*.mo
*.o
*.patch
*.po
*.pot
*.rej
*.sin
*.so
*.trs
*~
.#*
.deps
.vscode/*
.dirstamp
.libs
.patch_number
/_build
/INSTALL
/TODO
/ChangeLog
/README
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache/*
/build
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/libtool.m4
/build-aux/ltmain.sh
/build-aux/ltoptions.m4
/build-aux/ltsugar.m4
/build-aux/ltversion.m4
/build-aux/lt~obsolete.m4
/build-aux/missing
/build-aux/test-driver
/config.status
/configure
/coverage
/coverage.info
/data/Makefile
/data/Makefile.in
/data/ini/ginga.ini
/doc/Doxyfile
/doc/html
/lib/Makefile
/lib/Makefile.in
/lib/config.h
/lib/config.h.in
/lib/ginga.pc
/lib/stamp-h1
/libtool
/src-gui/Makefile
/src-gui/Makefile.in
/src-gui/gingagui
/src-gui/icons/Makefile
/src-gui/icons/Makefile.in
/src-gui/style/Makefile
/src-gui/style/Makefile.in
/src/Makefile
/src/Makefile.in
/src/ginga
/src/ginga-gl
/tests-ncl/generated/Makefile
/tests-ncl/generated/Makefile.in
/tests-ncl/generated/test-media-*-4grid.ncl
/tests-ncl/generated/test-media-*-anim-background.ncl
/tests-ncl/generated/test-media-*-anim-dimensions.ncl
/tests-ncl/generated/test-media-*-anim-transparency.ncl
/tests-ncl/generated/test-media-*-dimensions.ncl
/tests-ncl/generated/test-media-*-empty.ncl
/tests-ncl/generated/test-media-*-explicitDur.ncl
/tests-ncl/generated/test-media-*-focusIndex.ncl
/tests-ncl/generated/test-media-*-loop.ncl
/tests-ncl/generated/test-media-*-nested-region.ncl
/tests-ncl/generated/test-media-*-no-desc.ncl
/tests-ncl/generated/test-media-*-no-region.ncl
/tests-ncl/generated/test-media-*-stop-self.ncl
/tests-ncl/generated/test-media-*-transparency.ncl
/tests-ncl/generated/test-media-*-visible.ncl
/tests-ncl/generated/test-media-*-zIndex.ncl
/tests-ncl/generated/test-mime-*.ncl
/tests/Makefile
/tests/Makefile.in
/tests/env.csh
/tests/env.sh
/tests/gdb.cfg
/tests/suppfile
/tests/test-Context-new
/tests/test-Context-naturalend
/tests/test-Context-nested-naturalend
/tests/test-Context-ports
/tests/test-Document-evalPredicate
/tests/test-Document-evalPredicate-from-link
/tests/test-Document-evalPredicate-from-rule
/tests/test-Document-addObject
/tests/test-Document-getObjectById
/tests/test-Document-getObjectByIdOrAlias
/tests/test-Document-new
/tests/test-Event-getEventStateAsString
/tests/test-Event-getEventTransitionAsString
/tests/test-Event-getEventTypeAsString
/tests/test-Event-isLambda
/tests/test-Event-new
/tests/test-Event-setInterval
/tests/test-Event-setParameter
/tests/test-Event-transition-Context-abort
/tests/test-Event-transition-Context-pause
/tests/test-Event-transition-Context-resume
/tests/test-Event-transition-Context-start
/tests/test-Event-transition-Context-stop
/tests/test-Event-transition-Media-abort
/tests/test-Event-transition-Media-pause
/tests/test-Event-transition-Media-resume
/tests/test-Event-transition-Media-start
/tests/test-Event-transition-Media-stop
/tests/test-Event-transition-Switch-start
/tests/test-Ginga-create
/tests/test-Ginga-getOptionBool
/tests/test-Ginga-getOptionInt
/tests/test-Ginga-getOptionString
/tests/test-Ginga-getOptions
/tests/test-Ginga-getState
/tests/test-Ginga-setOptionBool
/tests/test-Ginga-setOptionInt
/tests/test-Ginga-setOptionString
/tests/test-Ginga-version
/tests/test-GingaInternal-getData
/tests/test-GingaInternal-setData
/tests/test-Media-new
/tests/test-Media-4grid
/tests/test-Media-mime
/tests/test-Media-focusIndex
/tests/test-Media-explicitDur
/tests/test-Media-nested-explicitDur
/tests/test-Media-anchors-started-from-ports
/tests/test-Media-anchors-started-from-links
/tests/test-MediaSettings-instances
/tests/test-MediaSettings-new
/tests/test-Object-addAlias
/tests/test-Object-addEvent
/tests/test-Parser-parseBuffer
/tests/test-Parser-parseFile
/tests/test-ParserLua-parseBuffer
/tests/test-Predicate-atom
/tests/test-Predicate-new
/tests/test-Switch-new
/tests/test-SigGen-transmission
/tests/test-aux-ginga-parse-bool
/tests/test-aux-ginga-parse-color
/tests/test-aux-ginga-parse-list
/tests/test-aux-ginga-parse-percent
/tests/test-aux-ginga-parse-table
/tests/test-aux-ginga-parse-time
/tests/test-aux-xpathbasename
/tests/test-aux-xpathbuild
/tests/test-aux-xpathbuildabs
/tests/test-aux-xpathdirname
/tests/test-aux-xpathisabs
/tests/test-aux-xpathisuri
/tests/test-aux-xpathmakeabs
/tests/test-aux-xpathfromuri
/tests/test-aux-xstrassign
/tests/test-aux-xstrbuild
/tests/test-aux-xstrcasecmp
/tests/test-aux-xstrcaseeq
/tests/test-aux-xstrdown
/tests/test-aux-xstrhasprefix
/tests/test-aux-xstrhassuffix
/tests/test-aux-xstrispercent
/tests/test-aux-xstrsplit
/tests/test-aux-xstrstrip
/tests/test-aux-xstrtod
/tests/test-aux-xstrtodorpercent
/tests/test-aux-xstrtoll
/tests/test-aux-xstrup
/tests/test-aux-xurifromsrc
/tests/test-aux-xurigetcontents
/tests/test-aux-xurigetparent
/tests/xfail-test-Document-addObject
/tests/xfail-test-Ginga-getOptionBool
/tests/xfail-test-Ginga-getOptionInt
/tests/xfail-test-Ginga-getOptionString
/tests/xfail-test-Ginga-setOptionBool
/tests/xfail-test-Ginga-setOptionInt
/tests/xfail-test-Ginga-setOptionString
/tests/xfail-test-aux-xstrtod
