/*@define-color bg_color #444444; */

window *, GtkWindow *{
  border-radius: 2px;  
  border-width:0px;
}

window, GtkWindow{  
  background-color: #303030;  
  border: 1px solid #555555;
  border-top-width: 0px;
}

window label, GtkWindow .label{
   color: #DDDDDD;
}

entry, .entry, GtkEntry{
  border: 1px solid #555555;
  background-color: #FFFFFF;
 
}

window button, GtkWindow .button{
  background: #111111;
  color: #DDDDDD;
  border: 1px solid #555555;
  box-shadow: none;
}

window popover, GtkWindow  .popover{
  border: 1px solid #444444;
  background-color: #303030;  
  color:#DDDDDD;
}

window frame, GtkWindow .frame{
  border: 1px solid #555555;
}

popover label, .popover .label{
  font-weight: normal;
}

slider{
  border: 1px solid #555555;
}

window button:hover, GtkWindow .button:hover{
  background: #262626;
}

window headerbar, GtkWindow .header-bar{
  background-image: none;
  background-color: #202020;
  border: 1px solid #555555;
  box-shadow: none;
  color: #CCCCCC;
}

notebook, GtkNotebook{
  border: 1px solid #555555;  
}

headerbar separator, .header-bar .separator{
  background-color: #555555;  
}

infobar, .infobar{
  background-color: #EE2222;   
}

infobar label, .infobar .label{
  color: #EEEEEE;  
}

infobar button, .infobar .button{
  background: transparent;
  border-width: 0px;
  color: #EEEEEE;    
}

infobar button:hover, .infobar .button:hover{
  background: transparent;
}

GtkSeparator{
  border: 1px solid #888888;
}

window check {
  background: #FFFFFF;
  color: #4444CC;
  border: 1px solid #555555;
  box-shadow: none;
}

window check:hover {
  background: #FFFFFF;
  color: #4444CC;
  border: 1px solid #555555;
  box-shadow: none;
}

