*.vcxproj.user
*.suo
*.sdf
Release/*
Debug/*
Ginga/*
GingaWindowsMonolitic/Release/*
GingaWindowsMonolitic/Debug/*
GingaWindowsMonolitic/Debug/*
GingaWindowsComp/Release/*
CompTests/Debug/*
GingaWindowsComp/Debug/*
GingaWindowsComp/Release/*