<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Ginga</string>
    <key>CFBundleIdentifier</key>
    <string>com.telemidia.ginga</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Ginga</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.telemidia.ginga.ncl</string>
            <key>UTTypeTagSpecification</key>
            <dict>
            <key>public.filename-extension</key>
              <array>
                <string>ncl</string>
              </array>
            </dict>
            <key>UTTypeConformsTo</key>
            <array>
             <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>NCL file</string>
            <key>UTTypeIconFile</key>
            <string>Icon.icns</string>
            <key>UTTypeReferenceURL</key>
            <string>http://www.ncl.org.br/</string>
        </dict>
    </array>
</dict>
</plist>