/*@define-color bg_color #444444; */

window *, .GtkWindow *{
  border-radius: 2px;  
  border-width: 0px;
}

window, .GtkWindow{  
  background-color: #E8E8E7;  
  border: 1px solid #AAAAAA;
  border-top-width: 0px;
  color: #333333;
  opacity: 0.5;
}

entry, .entry, GtkEntry{
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
 
}

window button, .GtkWindow .button{
  background: #EEEEEE;
  color: #333333;
  border: 1px solid #AAAAAA;
  box-shadow: none;
}

window popover, .GtkWindow  .popover{
  border: 1px solid #333333;
  background-color: #E8E8E7; 
}

window frame, .GtkWindow .frame{
  border: 1px solid #AAAAAA;
}

popover label, .popover .label{
  font-weight: normal;
}

slider{
  border: 1px solid #AAAAAA;
}

button:hover, .button:hover{
  background: #DFDFDF;
}

headerbar, .header-bar{
  background-image: none;
  background-color: #F4F4F4;
  border: 1px solid #AAAAAA;
  box-shadow: none;
  color: #333333;
}

notebook, GtkNotebook{
  border: 1px solid #AAAAAA;  
}

headerbar separator, .header-bar .separator{
  background-color: #AAAAAA;  
  color: #AAAAAA; 
}

infobar, .infobar{
  background-color: #EE2222;   
}

infobar button, .infobar .button{
  background: transparent;
  border-width: 0px;
  color: #EEEEEE;   
}

infobar button:hover, .infobar .button:hover{
  background: transparent;
}



