/*@define-color bg_color #444444; */

window *, .GtkWindow *{
  border-radius: 2px;  
  border-width:0px;
}

window, .GtkWindow{  
  background-color: #000e57;  
  border: 1px solid #000055;
  border-top-width: 0px;
  color: #DDDDDD;
}

entry, .entry, GtkEntry{
  border: 1px solid #000055;
  background-color: #FFFFFF;
 
}

window button, .GtkWindow .button{
  background: #010932;
  color: #DDDDDD;
  border: 1px solid #2c3563;
  box-shadow: none;
}

window popover, .GtkWindow  .popover{
  border: 1px solid #444444;
  background-color: #000e57;  
  color:#DDDDDD;
}

window frame, .GtkWindow .frame{
  border: 1px solid #2c3563;
}

popover label, .popover .label{
  font-weight: normal;
}

slider{
  border: 1px solid #2c3563;
}

button:hover, .button:hover{
  background: #000026;
}

window headerbar, .GtkWindow .header-bar{
  background-image: none;
  background-color: #00014d;
  border: 1px solid #2c3563;
  box-shadow: none;
  color: #CCCCCC;
}

notebook, GtkNotebook{
  border: 1px solid #2c3563;  
}

headerbar separator, .header-bar .separator{
  background-color: #2c3563;  
}

infobar, .infobar{
  background-color: #EE2222;   
}

infobar button, .infobar .button{
  background: transparent;
  border-width: 0px;
  color: #010932;   
}

infobar button:hover, .infobar .button:hover{
  background: transparent;
}




