#!/usr/bin/make -f

export LDFLAGS=-Wl,--no-as-needed

override_dh_auto_configure:
	dh_auto_configure -- --enable-data-processing --enable-linuxdvb --libdir=/usr/lib

override_dh_auto_install:
	dh_auto_install

%:
	dh $@
